#constants
{
    defaultHeight : 58;
    qdYellowColor : rgb(255, 200, 31);
    qdGrayTextColor : rgb(121, 121, 121);
    qdGrayBottomColor : #737373;
    qdReadTextColor : #a6a6a6;
    qdReadDescriptionTextColor : #b9b9b9;
}